body {
  background-color: lightblue;
}

img {
  float: right;
  width: 50%;
}

h1 {
  color: blue;
  font-family: verdana;
  font-size: 1.7em;
  text-align: center;
}

p {
  color: navy;
  font-family: verdana;
  font-size: 1.2em;
}
